html {
  font-family: "Verdana";
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

.header-link {
  color: aquamarine;
  font-size: 16px;
}

a {
  color: aquamarine;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

span {
  font-size: 21px;
  color: gray;
}

.iphone-icon {
  margin-top: 25px;
}

.img {
  margin-top: 25px;
}

footer {
  text-align: right;
}